*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica,Arial,sans-serif;
}
#main{
    background: rgba(205, 202, 202, 0.6);
}
#header{
    height: 50px;
    background-color:#000;
    position: fixed;
    width: 100%;
}

#nav{
    display: inline-block;
    width: 100%;
}
#nav li{
    display: inline-block;  
}
#nav li a{
    color: #fff;
    text-decoration: none ;
    line-height: 50px;
    padding: 0 24px;    
}
#nav li:hover a{
    color: #000;
    background-color:#ccc; 
    display: inline-block;
}
#nav .subnav a{
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;

}
#nav .subnav li:hover a{
    color: #000;
    background-color:#FFFFFF; 
    display: inline-block;
}
.left{
    float: left;
}
.right {
    float: right;
}
#content{ 
    padding-top: 60px;
    background-color: #FFFFFF;
    height: 2000px;
    padding-left: 5px;
    padding-right: 5px;
}
#no-information{
    text-align: center;
}
#footer{

}
