
# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
FPTStudentBlog/build/
nbbuild/
FPTStudentBlog/dist/
nbdist/
.nb-gradle/

# End of https://www.toptal.com/developers/gitignore/api/netbeans