*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica,Arial,sans-serif;
}
#main{
    background: rgba(205, 202, 202, 0.6);
}
#header{
    height: 50px;
    background-color:#000;
    position: fixed;
    width: 100%;
}

#nav{
    display: inline-block;
    width: 100%;
}
#nav li{
    display: inline-block;  
}
#nav li a{
    color: #fff;
    text-decoration: none ;
    line-height: 50px;
    padding: 0 24px;    
}
#nav li:hover a{
    color: #000;
    background-color:#ccc; 
    display: inline-block;
}
#nav .subnav a{
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;

}
#nav .subnav li:hover a{
    color: #000;
    background-color:#FFFFFF; 
    display: inline-block;
}
.left{
    float: left;
}
.right {
    float: right;
}
#content{ 
    padding-top: 60px;
    background-color: #FFFFFF;
    height: 2000px;
    padding-left: 5px;
    padding-right: 5px;
}
.column {
    float: left;
    padding: 10px;
}

/* Cột bên trái */
.column.side {
    width: 20%;
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;
    padding-right: 20px;
    margin-top: 10px; 
    border-radius: 10px;
    height: auto;
}
.column.side ul{
    list-style-type: none;
}
.column.side h1{
    margin-bottom: 5px;
}
#category a{
    text-decoration: none;
    color: black;
}
#category a:hover{
    color: brown;
}
#category{
    margin-top: 7px;
    margin-left: 5px;
}
/* Cột chính giữa */
.column.middle {
    width: 79%;
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;
    float: right;
    margin-top: 10px; 
    border-radius: 10px;
}
.column.middle  a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.column.middle  a:hover{
    color: brown;
}
#author{
    margin-top:5px; 
}
#date{
    float: right;
}
/* Clear float khác sau các cột */
.content:after {
    display: table;
    clear: both;
}
.footer{

}
.header__search {
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.post-content{
    width: 100%;
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;
    float: right;
    margin-top: 10px; 
    border-radius: 10px;
    margin-bottom: 10px;
}
.post-content-left{
    width: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.post-content-right{
    width: 40%;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.post-content-text{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
.post-comment{
    width: 100%;
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;
    float: right;
    margin-top: 10px; 
    border-radius: 10px;
    padding: 10px;
}