*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica,Arial,sans-serif;
}
.header{
    height: 50px;
    background-color:#000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav{
    display: inline-block;
}
.nav li{
    display: inline-block;  
}
.nav li a{
    color: #fff;
    text-decoration: none ;
    line-height: 50px;
    padding: 0 24px;    
}
.nav li:hover a{
    color: #000;
    background-color:#ccc; 
    display: inline-block;
}
.nav .subnav a{
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;

}
.nav .subnav li:hover a{
    color: #000;
    background-color:#FFFFFF; 
    display: inline-block;
}
.right {
    float: right;
}
.content{ 
    background-color: #868787;
    height: 2000px;
}
.column {
    margin-top: 100px;
    float: left;
    padding: 10px;
}

/* Cột bên trái */
.column.side {
    width: 20%;
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;
    padding-right: 20px;
    
}

/* Cột chính giữa */
.column.middle {
    width: 80%;
    background-color: #FFFFFF;
    color: #000;
    box-shadow: 0 0 10px;
}

/* Clear float khác sau các cột */
.content:after {
    display: table;
    clear: both;
}
.footer{

}