/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2021, 10:30:29 AM
    Author     : buili
*/
.header {
    height: var(--header-height);
/*    background-image: linear-gradient(0, #466387, #435d7d);*/
    background-color: #435d7d!important
}
/*Header with search*/

.header-with-search {
    height: var(--header-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
